#stage-progress-accordion {
  /* width: max-content; */

  .card-header {
    color: #cb73b7;
    font-size: 1.25rem;
  }

  .accordion ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    list-style: none;
  }

  ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  ul li > .fa-award {
    color: gold;
  }

  .accordion ul li > a > b {
    color: #5e72e4 !important;
  }

  .lead_champion_certificate {
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    background: lightgray;
    cursor: not-allowed;
  }

  .qualified {
    background: #a80a7e;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    text-align: center;
  }
}
