.proposed-forums-wrapper .dataTable {
  margin-bottom: 0 !important;
}

.proposed-forums-wrapper .dataTable th {
  font-size: 0.875rem !important;
  border-bottom: none !important;
}

.proposed-forums-wrapper .dataTable th,
.proposed-forums-wrapper .dataTable td {
  padding: 0.75rem !important;

  .text_to_html {
    h2 {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

.proposed-forums-wrapper #forumRequestsTable td {
  vertical-align: middle;
}

.proposed-forums-wrapper #forumModal {
  z-index: 1000;

  .modal-dialog {
    width: 75%;
    max-width: 1024px;
  }
}
