{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}

<div id="isuserenrolled" data-enrolled="{{ output.is_user_enrolled }}"></div>
<style>
.tippy-box[data-theme~='blackmpac'] {
  background-color: black;
}
.p-mpachubtooltip {

    font-size: .9rem !important;
}
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the enrollment status from the data attribute
        var isuserenrolled = document.getElementById('isuserenrolled');
        var isEnrolled = isuserenrolled.getAttribute('data-enrolled') === '1';  // Convert string to boolean
var mpachublink = document.getElementById('drop-down-670886e8bdbcd');
        // If the user is not enrolled, disable the link
        if (!isEnrolled) {

            var linkTextToDisable = "MPAC Hub";

    // Get all links with the class 'nav-link'
    var links = document.querySelectorAll('.nav-link');
//top pt4
    // Loop through all links to find the one with the specific text
    links.forEach(function(link) {
        // Check if the link's text matches the desired text
        if (link.textContent.trim() === linkTextToDisable) {
            // Disable the link: change href, style, and prevent interaction
            link.setAttribute('href', '#');
            link.classList.add('disabled-link');
            link.style.color = 'gray';  // Change text color to indicate disabled state
              var parentElement = link.parentElement;
              parentElement.id = "disabled-mpachub-link";
              
              tippy('#disabled-mpachub-link', {
                content:
                '<h4 style="font-size:17.5px; !important" id="mpachub-subscribe-tooltip" class="pt-4 px-1"><strong class="text-secondary-color">Oops! Looks like you`re trying to access a secret door!</strong></h4><p class="p-mpachubtooltip pt-2 px-1">This page is exclusive for our subscribed members—like a VIP lounge for those who are ready to elevate their leadership game!</p><p class="mb-0  p-mpachubtooltip pt-2 px-1">Want in on the action? Subscribe now and let`s grow together!</p><p class="mt-3 pr-2  text-right"><button href="#" class="btn btn-danger py-1">Subscribe</button></p>',
                allowHTML: true,
                duration: [100, 500],
                interactive: true,
                theme: 'blackmpac',
                maxWidth: 500,
            });


 const mpackhublink = document.querySelector('#disabled-mpachub-link');

  // Add a 'mouseover' event to trigger when the user hovers over the child
  mpackhublink.addEventListener('mouseover', function() {
                       // Select the child element
                const childElement = document.querySelector('#mpachub-subscribe-tooltip');

          
                    // Traverse to the parent of the parent (grandparent)
                    const grandparentElement = childElement.parentElement.parentElement;

                    // Change the background color of the grandparent
                    grandparentElement.style.backgroundColor = 'black';  // Set the desired color
  });

              parentElement.addEventListener('click', function(event) {
            // Check if the link is disabled
            if (link.classList.contains('disabled-link')) {
                // Prevent the default action (i.e., navigation)
                event.preventDefault();

                // Show an alert message when a disabled link is clicked
           
            }
        });


     

           }

    });


        }
    });
    
</script>

<style>
    .disabled-link {
        opacity: 0.5;
        color: gray;
        cursor: not-allowed;
    }

.subscribe-now-link {
    color: #d62125 !important;/* Default color */
    text-decoration: none; /* Remove underline, optional */
}

.subscribe-now-link:hover {
    color: #f76d70 !important;/* Color when hovered */
}
</style>


<div class="topbar navbar {{#header_light}}navbar-light bg-white{{/header_light}}{{#header_dark}}navbar-dark bg-default{{/header_dark}}">
    {{# topbar_left_content }}
    <div class="topbar-left">
        {{{ topbar_left_content }}}
    </div>
    {{/ topbar_left_content }}

    {{# topbar_right_content }}
    <div class="topbar-right">
        {{{ topbar_right_content }}}
    </div>
    {{/ topbar_right_content }}
</div>

<nav class="top-navigation navbar navbar-top navbar-expand border-bottom {{#header_light}}navbar-light bg-white{{/header_light}}{{#header_dark}}navbar-dark bg-default{{/header_dark}}" aria-label="{{#str}}sitemenubar, admin{{/str}}">

        {{# layout_modern }}
        <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
            <span class="navbar-toggler-icon"></span>
            <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
        </button>
        {{/ layout_modern }}


        {{# layout_classic }}
        <div data-region="drawer-toggle" class="d-inline-block nav-drawer-btn-container">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="nav-drawer-btn btn btn-primary btn-sm" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
        {{/ layout_classic }}

        {{# show_header_navbar_brand }}
        <a href="{{{ config.wwwroot }}}" class="navbar-brand aabtn {{# show_header_logo }}{{# output.should_display_header_logo }}has-logo{{/ output.should_display_header_logo }}{{/ show_header_logo }}
            {{^ output.should_display_header_logo }}
                d-none d-sm-inline
            {{/ output.should_display_header_logo }}
                ">
            {{# output.should_display_header_logo }}
                <span class="logo">
                    <img src="{{{ header_logo_url }}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_header_logo }}

            {{# show_header_sitename }}
                <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
            {{/ show_header_sitename }}
        </a>
        {{/ show_header_navbar_brand }}

        {{# layout_modern }}
        {{#primarymoremenu}}
            <div class="primary-navigation">
                {{> core/moremenu}}
            </div>
        {{/primarymoremenu}}
        {{/ layout_modern }}

        {{# layout_classic }}
        <ul class="navbar-nav custom-menu">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        {{/ layout_classic }}

        <ul class="nav navbar-nav plugin-menu d-flex ml-auto">
            {{# show_lang_menu }}
            <li class="nav-item item-separator">
                {{{ output.render_lang_menu }}}
            </li>
            {{/ show_lang_menu }}
            <li class="nav-item">
                {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item item-separator">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
</nav>
